{% load new_filters %}

<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
        <br>
        <!-- Ваша логика -->
        <table style="width:100%;text-align:center;font-family:courier;">
          <tr style="font-weight: bold"> 
            <td>Год</td>
            <td>Янв</td><td>Фев</td>
            <td>Мар</td><td>Апр</td>
            <td>Май</td><td>Июн</td>
            <td>Июл</td><td>Авг</td>
            <td>Сен</td><td>Окт</td>
            <td>Ноя</td><td>Дек</td>
            <td>Суммарная</td>
          </tr>
        {% for k in allstat %}
          {% include 'row_short.html' with param=k %}
        {% endfor %}
        </table>>
      </div>
    {% endblock %}

  </body>
</html>