{% load new_filters %}

<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
        <br>
        <p>Request: {{ request.GET }}</p>

        {% for k in mylist %}
          {% cycle 'red' 'light-red' as color silent %}
          
          <li>{{ k }} - {{ color }} </li>
          
        {% endfor %}

        {% if mylist|length > 6 %}
          <br>
          <p> mylist more than 3 </p>
        {% endif %}
        <br>
        {{ name }} -> {{ name|lower }}
        <br>
        {{ name }} -> {{ name|length }}

        <br>
        {{ 5|aster }}
        {% for a in articles %}
        {% include 'article.html' with title=a.title content=a.content %}
        {% endfor %}
        <!-- Ваша логика -->
        <table style="width:100%">
        {% for k in allstat %}
          {% include 'row_short.html' with param=k %}
        {% endfor %}
        </table>>
      </div>
    {% endblock %}

  </body>
</html>